<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Create Job Offer</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Create New Job Offer</h2>

		<form th:action="@{/jobOffers}" th:object="${jobOffer}" method="post">
		    <input type="text" th:field="*{title}" placeholder="Title" required />
		    <textarea th:field="*{description}" placeholder="Description" required></textarea>
		    <input type="text" th:field="*{location}" placeholder="Location" required />
		    <input type="number" step="0.01" th:field="*{salary}" placeholder="Salary" required />
		    <input type="date" th:field="*{postedDate}" placeholder="Posted Date" required />
		    <input type="number" th:field="*{recruiterId}" placeholder="Recruiter ID" required />

		    <button type="submit">Create Job Offer</button>
		</form>

    </div>
</body>
</html>
