<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link th:href="@{/css/style1.css}" rel="stylesheet">  
  <title>Recruiters List</title>
</head>
<body>
  <div class="container">
    <h2>List of Recruiters</h2>
    
    <!-- Check if the candidates list is not empty -->
    <div th:if="${recruiters != null and #lists.isEmpty(recruiters) == false}">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
			<th>Company name</th>
			<th>Phone number</th>
			<th>Address</th>

          </tr>
        </thead>
        <tbody>
          <!-- Iterate over the list of candidates -->
          <tr th:each="recruiter : ${recruiters}">
            <td th:text="${recruiter.name}"></td>
            <td th:text="${recruiter.email}"></td>
			<td th:text="${recruiter.companyName}"></td>
			<td th:text="${recruiter.phoneNumber}"></td>
			<td th:text="${recruiter.address}"></td>

          </tr>
        </tbody>
      </table>
    </div>
    
    <!-- If no candidates are found, display a message -->
    <div th:if="${recruiters == null or #lists.isEmpty(recruiters)}">
      <p>No recruiters found.</p>
    </div>
    
  </div>
</body>
</html>
