body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
    /* background: #000 url('background.jpg') no-repeat center center/cover; */

  }
  
  .header {
    background-color: #e2eaf0;
    text-align: center;
    padding: 30px 20px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 2.2em;
    color: #204f73;
  }
  
  .header p {
    margin-top: 10px;
    font-size: 1.1em;
  }
  
  .account-container {
    display: flex;
    justify-content: space-between;
    background-color: #fff5f5;
    border-radius: 15px;
    margin: 20px auto;
    padding: 30px;
    width: 1000px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .left-box {
    width: 55%;
    background-color:  #fa5c01;
    border-radius: 10px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.403);
  }
  
  .left-box h2 {
    margin-top: 0;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    background-color: #444;
    border-radius: 10px;
    background-image: url('https://via.placeholder.com/100x100?text=Avatar');
    background-size: cover;
    margin-right: 20px;
  }
  
  .user-info p {
    margin: 5px 0;
    font-size: 1em;
  }
  
  .right-box {
    width: 40%;
    padding: 10px 20px;
  }
  
  .progress-bar {
    width: 100%;
    background-color: #e0e0e08d;
    border-radius: 25px;
    height: 10px;
    margin: 10px 0;
    overflow: hidden;
  }
  
  .progress {
    height: 10px;
    background-color: #0079a1;
    border-radius: 25px;
  }
  
  .right-box a {
    color:  #fa5c01;
    text-decoration: none;
  }
  
  .right-box a:hover {
    text-decoration: underline;
  }
  