.edit-container {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.edit-container h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #ff7001;
}

form input, form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

button {
    background-color: #fa5c01;
    border: none;
    padding: 12px 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 150px;
    text-align: center;
}
